---
import Button from "./Button.astro";

interface Props {
  href: URL;
}

const { href } = Astro.props;
---

<div class="space-y-2">
  <Button href={href.toString()} class="w-full text-center">Reservar</Button>
  <p class="text-sm">Puedes realizar la reserva de tu producto por WhatsApp.</p>
</div>
