---
import { icons } from "feather-icons";
import Brand from "./Brand.astro";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class:list={["bg-text py-4 text-background", className]}>
  <footer class="container flex items-center justify-between">
    <Brand />
    <a href="https://www.instagram.com/">
      <div class="md:hidden" set:html={icons.instagram.toSvg()} />
      <span class="sr-only md:not-sr-only">Instagram</span>
    </a>
  </footer>
</div>
