---
import hero from "@/assets/hero.jpg";
import { Image } from "astro:assets";

const widths = [
  320,
  375,
  425,
  768,
  1030,
  1430,
  1740,
  2000,
  2230,
  2440,
  2630,
  2810,
  2980,
  3140,
  3290,
  3440,
  3580,
  hero.width,
];
---

<div class="relative grid min-h-[50vh] place-items-center bg-primary">
  <Image
    src={hero}
    alt=""
    format="avif"
    quality="mid"
    loading="eager"
    class="absolute h-full w-full object-cover brightness-50"
    widths={widths}
    sizes="100vw"
  />
  <h1
    class="container relative py-4 text-center text-2xl text-white sm:text-3xl md:text-4xl lg:px-16"
    style="text-wrap: balance;"
  >
    Decorá con clase, decorá con <strong>DG Deco</strong>
  </h1>
</div>
